<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<h1>Help</h1>
<p>
  Get Help on Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Rails Tutorial help pages</a>
  To get help on this sample app,see the
  <a herf="http://railstutorial.org/book">Rails Tutorial book</a>
  
</p>
